    <div class="all-content"> 
        <div class="left-col">
            <div class="nav">
                <div class="nav-content">
                    <div class="logo">
                        <img src="../img/Branding/svg/color_logo_transparent.svg" alt="VBW">
                    </div>
                    <ul>
                        <a href="/"><li>Home</li></a>
                        <a href="/about.html"><li>About</li></a>
                        <a href="/pricing.html"><li>Pricing</li></a>
                        <a href="/contact.html"><li>Contact</li></a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="nav-icon">
            <div class="burger">
                <div class="line_1 line"></div>
                <div class="line_2 line"></div>
                <div class="line_3 line"></div>
            </div>
        </div>
        <div class="right-col">
            <div class="content">
                {{ content }}
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
    <script src="js/nav.js"></script>